@for $column from 6 through 17{
    .LegionRowOverlay:nth-of-type(6){
        > div:nth-of-type(#{$column}){
            border-top: $innerQuadrant;
        }
    }
    .LegionRowOverlay:nth-of-type(15) {
        > div:nth-of-type(#{$column}){
            border-bottom: $innerQuadrant;
        }
    }
}

// outlines the left and right sides of the inner quadrant
@for $row from 6 through 15 {
    .LegionRowOverlay:nth-of-type(#{$row}){
        > div:nth-of-type(6){
            border-left: $innerQuadrant;
        }
    }
    .LegionRowOverlay:nth-of-type(#{$row}) {
        > div:nth-of-type(17){
            border-right: $innerQuadrant;
        }
    }
}

// divides grid in half vertically
@for $row from 1 through 20 {
    .LegionRowOverlay:nth-of-type(#{$row}) > div {
        &:nth-of-type(11){
            border-right: $outerQuadrant;
        }
        &:nth-of-type(12){
            border-left: $outerQuadrant;
        }
    }
}

// divides grid in half horizontally
@for $column from 1 through 22 {
    .LegionRowOverlay:nth-of-type(10) > div {
        &:nth-of-type(#{$column}){
            border-bottom: $outerQuadrant;
        }
    }
    .LegionRowOverlay:nth-of-type(11) > div {
        &:nth-of-type(#{$column}){
            border-top: $outerQuadrant;
        }
    }
}

// colors in diagonal lines across the grid
@for $i from 1 through 10 {
    .LegionRowOverlay:nth-of-type(#{$i}) > div {
        &:nth-of-type(#{$i}){
                border-top: $innerQuadrant;
                border-right: $innerQuadrant;
        }
    }

    .LegionRowOverlay:nth-of-type(#{11 - $i}) > div {
        &:nth-of-type(#{12 + $i}) {
                border-top: $innerQuadrant;
                border-left: $innerQuadrant;
        }
    }

    .LegionRowOverlay:nth-of-type(#{21 - $i}) > div {
        &:nth-of-type(#{$i}){
                border-bottom: $innerQuadrant;
                border-right: $innerQuadrant;
        }
    }

    .LegionRowOverlay:nth-of-type(#{21 - $i}) > div {
        &:nth-of-type(#{23 - $i}){
                border-bottom: $innerQuadrant;
                border-left: $innerQuadrant;
        }
    }

}