@import './variables.scss';

@mixin grid-layout {
    max-height: $size * 20;
    max-width: $size * 22;
    display: flex;
    flex-direction: column;
    margin-top: 3px;
    border-radius: 3.5px;
    background-color: var(--grid-background-color);    
    z-index: 0;
}

@mixin cell-layout {
    position: relative;
    display: flex;
    width: $size;
    height: $size;
    border-radius: 3.5px;
}

@mixin archetype-colors { 
    &[archetype="Warrior"]{ 
        background-color: var(--warrior); 
        border: 1px white solid;
    }
    &[archetype="Magician"]{ 
        background-color: var(--magician);
        border: 1px white solid;
    }
    &[archetype="Bowman"]{ 
        background-color: var(--bowman);
        border: 1px white solid; 
    }
    &[archetype="Thief"]{ 
        background-color: var(--thief); 
        border: 1px white solid;
    }
    &[archetype="Pirate"]{ 
        background-color: var(--pirate); 
        border: 1px white solid;
    }
    &[archetype="Lab"]{ 
        background-color: var(--lab); 
        border: 1px white solid;
    }
}

@mixin option-colors {
    &[option="Grid"]{ color: var(--primary-grid-color) ;}
    &[option="Grid Background"]{ color: var(--grid-background-color); }
    &[option="Grid Line"]{ color: var(--grid-line-color); }
    &[option="Outer Stat"]{ color: var(--outer-stat-color); }
    &[option="Inner Stat"]{ color: var(--inner-stat-color); }
    &[option="Warrior"]{ color: var(--warrior); }
    &[option="Magician"]{ color: var(--magician); }
    &[option="Bowman"]{ color: var(--bowman); }
    &[option="Thief"]{ color: var(--thief); }
    &[option="Pirate"]{ color: var(--pirate); }
    &[option="Lab"]{ color: var(--lab); }
}

//media queries

// 1600px
@mixin for-desktop-large-only {
    @media only screen and (min-width: $desktop-large) {
        @content;
    }
}

// 1100px
@mixin for-desktop-only {
    @media only screen and (max-width: $desktop) {
        @content;
    }
}

// 1024px
@mixin for-desktop-small-only {
    @media only screen and (max-width: $desktop-small) {
        @content;
    }
}

// 900px
@mixin for-tablet-only {
    @media only screen and (max-width: $tablet) { 
        @content;
    }
}

// 606px
@mixin for-tablet-small-2-only {
    @media only screen and (max-width: $tablet-small-2) {
        @content;
    }
}

// 578px
@mixin for-tablet-small-only {
    @media only screen and (max-width: $tablet-small) {
        @content;
    }
}

// 370px
@mixin for-mobile-only {
    @media only screen and (max-width: $mobile) {
        @content;
    }
}


@mixin desktop-large-grid-size($gridElem, $cellElem) {
    @include for-desktop-large-only() {
        #{$gridElem} {
            max-height: $largeSize * 20;
            max-width: $largeSize * 22;
        }

        #{$cellElem} {
            width: $largeSize;
            height: $largeSize;
        }
    }
}
@mixin tablet-grid-size($gridElem, $cellElem) {
    @include for-tablet-only {
        #{$gridElem} {
            max-height: $tabletSize * 20;
            max-width: $tabletSize * 22;
        }

        #{$cellElem} {
            width: $tabletSize;
            height: $tabletSize;
        }
    }
}

