$grid: #FF22FF;
$innerQuadrant: 2.25px solid var(--primary-grid-color);
$outerQuadrant: 1.125px solid var(--primary-grid-color);
$warrior: red;
$magician: #1414FF;
$bowman: #90EE90;
$thief: #4E4EE4;
$pirate: orange;
$lab: #4CF7F8;
$size: 30px;
$tabletSize: 4.4vw;
$largeSize: 2.1vw;

//media queries
$desktop-large: 100em; // 1600px
$desktop: 68.75em; // 1100px
$desktop-small: 64em; //1024px
$tablet: 56.25em; // 900px
$tablet-small-2: 37.875em; // 606px
$tablet-small: 36.125em; // 578px
$mobile: 23.125em; // 370px