$grid: #FF22FF;
$innerQuadrant: 2.25px solid #22FF22;
$outerQuadrant: 1.125px solid #22FF22;
$warrior: red;
$magician: #1414FF;
$bowman: #90EE90;
$thief: #4E4EE4;
$pirate: orange;
$lab: #4CF7F8;
$size: 30px;