$grid: #FF22FF;
$innerQuadrant: 2.25px solid var(--primary-grid-color);
$outerQuadrant: 1.125px solid var(--primary-grid-color);
$warrior: var(--warrior); // red
$magician: var(--magician); //#1414FF
$bowman: var(--bowman); //#90EE90
$thief: var(--thief); //#4E4EE4
$pirate: var(--pirate); //orange
$lab: var(--lab); //#4CF7F8
$size: 30px;
$tabletSize: 4.4vw;
$largeSize: 2.1vw;

//media queries
$desktop-extra-large: 160em; // 2560px
$desktop-large: 100em; // 1600px
$desktop: 68.75em; // 1100px
$desktop-small: 64em; //1024px
$tablet: 56.25em; // 900px
$tablet-small-2: 37.875em; // 606px
$tablet-small: 36.125em; // 578px
$mobile: 23.125em; // 370px